/* Для экранов меньше 1000px */
@media (max-width: 999px) {
  #gameCanvas {
    width: 100%;
    height: 100dvh;
  }
  
  .game-container {
    border-radius: 0;
    box-shadow: none;
    max-width: none;
  }
}

/* Для экранов 1000px и больше */
@media (min-width: 1000px) {
  #gameCanvas {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 20px;  
  }
  
  .game-container {
    max-width: 800px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    height: 600px;
    /* margin-top: calc(50vh - 300px); */
  }
}
